<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="">
            <i class="bi bi-code-slash me-2"></i>Practice Blazor
        </a>
        <button 
            class="navbar-toggler" 
            type="button" 
            title="Открыть/закрыть меню" 
            @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3 py-2">
            <NavLink class="nav-link d-flex align-items-center" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill fs-5 me-3 text-primary"></i>
                <span>Главная</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}